<div class="map-town clearfix" style="background-image:url('/img/game/loc/town/alcovd.jpg')">
	<div class="clearfix"></div>
	<h2>Alcovd City</h2>

	<div class="ui-map-button ui-form home" style="top:350px; left:335px">
		<form action="move" class="socket">
			<input type="hidden" name="to" value="home">
			<input type="submit" value="to room">
		</form>
		Home
	</div>

	<div class="ui-map-button ui-form arena" style="top:400px; left:550px">
		<form action="move" class="socket">
			<input type="hidden" name="to" value="arena/basic">
			<input type="submit" value="Arena">
		</form>
		Arena
	</div>

	<div class="ui-map-button ui-form sport-complex little-label4" style="top:380px; left:650px">
		<form action="move" class="socket">
			<input type="hidden" name="to" value="battle-training/alcovd">
			<input type="submit" value="Sports Complex">
		</form>
		Sports Complex
	</div>

	<div class="ui-map-button ui-form market" style="top:240px; left:220px">
		<form action="move" class="socket">
			<input type="hidden" name="to" value="market/alcovd">
			<input type="submit" value="to room">
		</form>
		Market
	</div>
</div>