<div class="clearfix">
	<ol class="bookmark-slider">
		<li class="main">
			<section class="central">
				<div class="block loc-menu clearfix">
					<div class="details">
						<h2>Market</h2>
						<i>No owner, No bonus</i>
						<br><i>in developing</i>
					</div>

					<ol class="menu no-style horizontal-central clearfix">
						<li class="ui-map-button ui-form exit little-label2" style="top:100px; left:400px">
							<form action="move" class="socket">
								<input type="hidden" name="to" value="town">
								<input type="submit" value="back to town">
							</form>
							Back to town
						</li>
					</ol>
				</div>
			</section>
		</li>
	</ol>
</div>