<div id="user-team" class="box">
	<ol class="no-style">
		<li class="ui-character">
			<%-renderTeam[0]%>
		</li>
		<li class="ui-character">
			<%-renderTeam[1]%>
		</li>
		<li class="ui-character">
			<%-renderTeam[2]%>
		</li>
	</ol>
</div>